# Xcode
*.xcuserstate
*.xcworkspace
xcuserdata/
DerivedData/
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.pins
Package.resolved

# CocoaPods
Pods/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# IDE
*.swp
*.swo
*~
.vscode/
.idea/

# Misc
*.moved-aside
*.log
*.orig
Thumbs.db
